<div ng-controller="UsuarisListCtrl">

	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Administració d'usuaris</h1>
	    </div>
	    <!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">
	    <div class="col-lg-8">
	        <!-- /.panel -->
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <i class="fa fa-bar-chart-o fa-fw"></i> Llistat d'usuaris
	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">
	                <div class="row">
	                    <div class="col-lg-12">


	                    	<label>Búsqueda: <input ng-model="buscarText"></label>
	                    	<label for="ordreCentres">Ordre
		                        <select name="ordreCentres" ng-model="orderProp">
						          <option value="nom">Nom</option>
						          <option value="cognom">Cognom</option>
						          <option value="direccio">Adreça</option>
						          <option value="dataNaixement">Data Naixement</option>
						        </select>
					        </label>

					        <table class="table table-striped col-lg-12">
					            <thead>
					                <tr>
					                    <th ng-click="orderProp = 'nom'" >Nom</th>
					                    <th ng-click="orderProp = 'cognoms'">Cognoms</th>
					                    <th ng-click="orderProp = 'email'">Email</th>
					                    <th ng-click="orderProp = 'dataNaixement'">Data Naixement</th>
					                    <th ng-click="orderProp = 'poblacio'">Població</th>
					                    <th></th>
					                </tr>
					            </thead>
					            <tr ng-repeat="usuari in usuaris | orderBy:orderProp | filter:buscarText">
					                <td>{{usuari.nom}}</td>
					                <td>{{usuari.cognoms}}</td>
					                <td>{{usuari.email}}</td>
					                <td>{{usuari.dataNaixement}}</td>
					                <td>{{usuari.poblacio}}</td>
					                <td>
					                	<a href="#/usuaris-edit/{{usuari.id}}" class="btn btn-default btn-xs"><i class="fa fa-pencil fa-fw"></i> Editar</a>
					                </td>
									
					            </tr>
					        </table>


	                    </div>
	                    <!-- /.col-lg-4 (nested) -->
	                    <div class="col-lg-8">
	                        <div id="morris-bar-chart"></div>
	                    </div>
	                    <!-- /.col-lg-8 (nested) -->
	                </div>
	                <!-- /.row -->
	            </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->                    
	    </div>
	    <!-- /.col-lg-8 -->

	    <div class="col-lg-4">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <i class="fa fa-bell fa-fw"></i> Altres opcions
	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">
	                
	                <a href="#/usuaris-add" class="btn btn-default btn-block">Crear nou usuari</a>

	                
	                <!-- /.list-group -->
	            </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	    <!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->

</div>	