<div ng-controller="CentresListCtrl">

	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Administració d'usuaris</h1>
	    </div>
	    <!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">
	    <div class="col-lg-8">
	        <!-- /.panel -->
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <i class="fa fa-bar-chart-o fa-fw"></i> Missatges nous:
	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">
	                <div class="row">
	                    <div class="col-lg-12">


	                    	<label for="ordreCentres">Ordre</label>
	                        <select name="ordreCentres" ng-model="orderProp">
					          <option value="name">Per nom del centre</option>
					          <option value="direccio">Per l'adreça</option>
					        </select>

					        <table class="table table-striped col-lg-12">
					            <thead>
					                <tr>
					                    <th ng-click="orderProp = 'name'"width="30%">Centre</th>
					                    <th ng-click="orderProp = 'direccio'"width="40%">Adreça</th>
					                    <th ng-click="orderProp = 'direccio'" width="30%"></th>                            
					                </tr>
					            </thead>
					            <tr ng-repeat="centre in centres | orderBy:orderProp">
					                <td>{{centre.nom}}</td>
					                <td>{{centre.direccio}}</td>
					                <td>
					                	<a href="#/centres-edit/{{centre.id}}" class="btn btn-default btn-xs"><i class="fa fa-pencil fa-fw"></i> Editar</a>
					                	<a class="btn btn-default btn-xs" ng-click="deleteCentre(centre.id)"><i class="fa fa-trash fa-fw"></i> Eliminar</a>
					                </td>
									
					            </tr>
					        </table>


	                    </div>
	                    <!-- /.col-lg-4 (nested) -->
	                    <div class="col-lg-8">
	                        <div id="morris-bar-chart"></div>
	                    </div>
	                    <!-- /.col-lg-8 (nested) -->
	                </div>
	                <!-- /.row -->
	            </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->                    
	    </div>
	    <!-- /.col-lg-8 -->

	    <div class="col-lg-4">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <i class="fa fa-bell fa-fw"></i> Altres opcions
	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">
	                
	                <a href="#/usuaris-add" class="btn btn-default btn-block">Afegir centre nou</a>

	                
	                <!-- /.list-group -->
	            </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	    <!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->

</div>	